<html>
<head>
    <title> Seyahat Uygulaması </title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">   
</head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body>
    <div class="login-box" id="idSignIn">
        <img src="/images/avatar.png" class="avatar">
        <h1>Üye Girişi</h1>
            <form>
            <p>E-posta:</p>
            <input type="text" name="username" >
            <p>Parola:</p>
            <input type="password" name="password" >
            <input type="submit" name="submit" value="Giriş Yap" onclick="onClickLogin()">
            <a href="#" type="forgotPassword">Şifremi Unuttum</a>
        
            <ul id="aboutLogin">
               <li><a href="#" type="notAMember" onclick="onClickSignUp()">Üye Ol</a></li>
               <li><a href="#" type="notAMember" onclick="navigateToHomePage()">Üye Olmadan Devam Et</a> </li>
            </ul>
            </form>
        
    </div>
        
    
    <script src="/controllers/loginController.js"></script>
        
    </body>
</html>